DOMAIN=bipou.com
SITE_KEY=change-this-secret-key-please
CLAIM_EXP=2592000
PAGE_SIZE=18

DB_URL=127.0.0.1:8002
DB_NS=calc
DB_NAME=football
DB_USER=root
DB_PASS=your-password

EMAIL_SMTP=smtp.example.com
EMAIL_FROM=noreply@example.com
EMAIL_USERNAME=
EMAIL_PASSWORD=
